@import '../breakpoints';

.gear-filter {
  overflow: hidden;
  max-height: 0px;
}

.gear-filter-enter {
  max-height: 0;
}

.gear-filter-enter-active {
  max-height: 750px;
  transition: max-height 0.3s ease-in;

  @include sm-or-larger {
    max-height: 300px;
    transition: max-height 0.15s ease-in;
  }
}

.gear-filter-enter-done {
  max-height: 750px;

  @include sm-or-larger {
    max-height: 300px;
  }
}

.gear-filter-exit {
  max-height: 750px;

  @include sm-or-larger {
    max-height: 300px;
  }
}

.gear-filter-exit-active {
  max-height: 0;
  transition: max-height 0.3s ease-out;

  @include sm-or-larger {
    transition: max-height 0.15s ease-out;
  }
}

.gear-filter-exit-done {
  max-height: 0;
}

.sticky-filter-panel {
  position: sticky;
  top: var(--navbar-height);
  transition: top var(--navbar-visible-transition-time);

  &.nav-bar-closed {
    top: 0px;
    transition: top calc(var(--navbar-hidden-transition-time));
  }
}
