@import "./breakpoints";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-light: 	225	229	238;
    --color-primary-dark: 55 57 46;
    --color-secondary-light: 131 144 115;
    --color-secondary-dark: 55 61 32;
    --color-tertiary-light: 98 108 86;
    --color-white-alt: 	242 241 238;

    --sm-breakpoint: 640px;
    --md-breakpoint: 768px;
    --lg-breakpoint: 1024px;
    --xl-breakpoint: 1280px;

    --navbar-height: 6rem;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.header-font {
  font-family: 'Oswald';
  letter-spacing: .1em;
}

.body-font {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  letter-spacing: .02em;
}

h1 {
  font-size: 2.5em;

  @include sm-or-larger {
    font-size: 3em;
  }
}

h2 {
  font-size: 1.6em;
}

.navbar-padding {
  padding-bottom: var(--navbar-height);
}

.nav-background {
  background: linear-gradient(-30deg, rgb(var(--color-secondary-light)) 60%, rgba(var(--color-secondary-dark)) 60%);
}

@media only screen and (max-width: 1024px) {
  .nav-background {
    background: linear-gradient(-30deg, rgb(var(--color-secondary-light)) 45%, rgba(var(--color-secondary-dark)) 45%);
  }
}

@media only screen and (max-width: 768px) {
  .nav-background {
    background: linear-gradient(-30deg, rgb(var(--color-secondary-light)) 30%, rgba(var(--color-secondary-dark)) 30%);
  }
}

@media only screen and (max-width: 640px) {
  .nav-background {
    background: linear-gradient(-60deg, rgb(var(--color-secondary-light)) 23%, rgba(var(--color-secondary-dark)) 23%);
  }
}

.is-hidden {
  margin-top: calc(-1 * var(--navbar-height));
  transition: transform 0.4s, opacity 0.2s;
}
