@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-light: 	225	229	238;
    --color-primary-dark: 55 57 46;
    --color-secondary-light: 131 144 115;
    --color-secondary-dark: 55 61 32;
    --color-tertiary-light: 98,108,86;

    --sm-breakpoint: 640px;
    --md-breakpoint: 768px;
    --lg-breakpoint: 1024px;
    --xl-breakpoint: 1280px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header-font {
  font-family: 'Oswald';
  letter-spacing: .1em;
}

.body-font {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  letter-spacing: .02em;

}

h1 {
  font-size: 2.5em;
}

@media (min-width: 640px) {
  h1 {
    font-size: 3em;
  }
}
